<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
    
    <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="A little about how you can hire me, Frankie Valentine.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hire Me - Valentine Dev</title>
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

        <!-- Theme CSS -->
        <link rel="stylesheet" type="text/css" href="../css/hireme.css">

        <!-- Custom Fonts / Icons -->
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <link href="css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        <!-- Animate -->
        <link rel="stylesheet" href="../css/animate.css">
    </head>
    <body class="animated fadeIn">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- NAV -->
        <div class="container">
            <header class="navbar navbar-expand navbar-light flex-column flex-md-row bd-navbar">
                <div class="navbar-nav-scroll">
                    <ul class="navbar-nav bd-navbar-nav flex-row">
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">
                                About
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="blogindex.html">
                                Blog
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Hire Me
                            <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>

        <!-- Social -->
            <ul class="navbar-nav flex-row ml-md-auto d-md-flex">
                    <li class="nav-item">
                        <a class="btn-top-social" href="http://twitter.com/valdvlp_r" target="_blank">
                            <i class="fa fa-fw fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn-top-social" href="http://instagram.com/valdvlp_r" target="_blank">
                            <i class="fa fa-fw fa-instagram"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn-top-social" href="http://github.com/frankievalentine" target="_blank">
                            <i class="fa fa-fw fa-github"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn-top-social" href="http://linkedin.com/in/frankievalentine" target="_blank">
                            <i class="fa fa-fw fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn-top-social" href="https://stackoverflow.com/users/7777067/frankie-valentine?tab=profile" target="_blank">
                            <i class="fa fa-fw fa-stack-overflow"></i>
                        </a>
                    </li>
                </ul>
            </header>
        </div>

        <div class="container">
            <hr>
        </div>

        <!-- Hire me -->
        <div class="container">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-3">Hire Frankie</h1>
            </div>
        </div>


        <!-- Content -->
        <div class="container">
            <div class="section">
                <p class="sectitle">What I can do for you</p>
                <div class="row">
                    <div class="col-sm-8">
                        <h5>Looking to have a website designed, built from scratch, and deployed?
                        Want new content generated for your new site?
                        Need creative advice or direction for your project roadmap?
                        Or just to talk and get some advice?
                        <p></p>
                        </h5>
                        <p>These are just some of the ways I can help.</p>
                    </div>
                </div>
            </div>
            <div class="section">
                <p class="sectitle">How to hire me</p>
                <div class="row">
                    <div class="col-sm-8">
                        <h6 class="hireme">There are <strong>three</strong> ways you can hire me.</h6>
                        <ol class="optionbox">
                            <li class="option">
                                    You can hire me on an hourly basis (up to 3 hours). 
                                    This is a great option if you are looking for advice or direction.
                                    <a href="https://plasso.com/s/gf0B1N8UBz" class="plo-button worklink">
                                        Buy my time here
                                    </a> 
                                    and I'll be in touch to book a time and date that will be a good fit for us both.
                            </li>
                            <li class="option">
                                For building out larger projects, connect with me on <a class="worklink" href="https://www.upwork.com/freelancers/~01118e31c3ddb9d35c" target="_blank">Upwork</a>.
                            </li>
                            <li class="option">
                                Reach out to me on <a class="worklink" href="https://www.freelancer.com/u/frankievalentine" target="_blank">Freelancer.com</a>, where I work on a project-to-project basis.
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
            <footer class="text-center">
                <div class="footer-above">
                    <div class="container">
                        <div class="row">
                            <div class="footer-col col-md-4">
                                <h3>Contact</h3>
                                <h6><em>I am always interested in working on new projects.</em></h6>
                                <p><i class="fa fa-phone"></i> 925-354-3942
                                    <br><i class="fa fa-fw fa-envelope-o"></i> <a class="colfoot" href="mailto:frankievalentine9@gmail.com">Email</a>
                                </p>
                            </div>
                            <div class="footer-col col-md-4">
                                <h3>Social</h3>
                                <ul class="list-inline">
                                    <li>
                                        <a class="btn-social btn-outline" href="http://twitter.com/valdvlp_r" target="_blank">
                                            <i class="fa fa-fw fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn-social btn-outline" href="http://instagram.com/valdvlp_r" target="_blank">
                                            <i class="fa fa-fw fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn-social btn-outline" href="http://github.com/frankievalentine" target="_blank">
                                            <i class="fa fa-fw fa-github"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn-social btn-outline" href="http://linkedin.com/in/frankievalentine" target="_blank">
                                            <i class="fa fa-fw fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn-social btn-outline" href="https://stackoverflow.com/users/7777067/frankie-valentine?tab=profile" target="_blank">
                                            <i class="fa fa-fw fa-stack-overflow"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="donate footer-col col-md-4">
                                <p>My site is <strong>free</strong> - with no ads, clickbait, popups, guest posts, or sponsored content.</p>
                                <p>Please consider donating so I can continue creating!</p>
                                <form class="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="8845Q4Q5U5RKJ">
                                    <input type="submit" name="submit" alt="PayPal - The safer, easier way to pay online!" class="btn btn-dark" value="Donate!">
                                    <img alt border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            <!-- Copyright -->
                <div class="footer-below">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                &copy; 2017 Frankie Valentine. All rights reserved.
                                <p>Open source
                                    <a class="colfoot" href="https://opensource.org/licenses/MIT">MIT</a>.
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

            <!-- Scroll to Top Button-->
            <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <!-- Plasso -->
    <script src='https://plasso.com/embed/v3/e.js'></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!-- Bootstrap Core JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <!-- Main JS -->
    <script src="../js/main.js"></script>
    <!-- FontAwesome CDN -->
    <script src="https://use.fontawesome.com/f92d3f2da3.js"></script>
    </body>
</html>