<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="A little about what I, Frankie Valentine, am working on and daily life jingles.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Blog - Valentine Dev</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

        <!-- Theme CSS -->
        <link rel="stylesheet" type="text/css" href="../css/blog.css">

        <!-- Custom Fonts / Icons -->
        <link rel="stylesheet" href="css/font-awesome.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- NAV -->
    <div class="container">
        <header class="navbar navbar-expand navbar-light flex-column flex-md-row bd-navbar">
            <div class="navbar-nav-scroll">
                <ul class="navbar-nav bd-navbar-nav flex-row">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">
                            Frankie Valentine
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cv.html">
                            About
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Blog
                        <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cv.html">
                            CV
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="hireme.html">
                            Hire Me
                        </a>
                    </li>    
                </ul>
            </div>
            <ul class="navbar-nav flex-row ml-md-auto d-md-flex">
                    <li class="nav-item">
                        <a class="btn-top-social" href="http://twitter.com/valdvlp_r">
                            <i class="fa fa-fw fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn-top-social" href="http://instagram.com/valdvlp_r">
                            <i class="fa fa-fw fa-instagram"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn-top-social" href="http://github.com/frankievalentine">
                            <i class="fa fa-fw fa-github"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn-top-social" href="http://linkedin.com/in/frankievalentine">
                            <i class="fa fa-fw fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn-top-social" href="https://stackoverflow.com/users/7777067/frankie-valentine">
                            <i class="fa fa-fw fa-stack-overflow"></i>
                        </a>
                    </li>
                </ul>
            </header>
        </div>

    <div class="container">
    <hr>
    </div>

    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <h3 class="display-3">Valentine Tech Blog</h3>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!-- Bootstrap Core JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <!-- Theme JS -->
    <script src="js/main.js"></script>
    <!-- FontAwesome CDN -->
    <script src="https://use.fontawesome.com/f92d3f2da3.js"></script>
    
    </body>
</html>